* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  width: 120px;
  height: 45px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #198754;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  margin-top: 3%;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #198754;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.img-card {
  width: 100%;
  height: 100%;

}

#consultMyNumberModal .modal-content,
#sendreceiptModal .modal-content,
.bg_custom_draw .modal-content {
  background-color: #fff;
  border-color: #555
}

.cotas-listagem {
  margin: 0;
  padding: 0;
  display: block
}

.cotas-pages {
  display: inline
}

.cotas-item {
  position: relative;
  display: inline-block;
  font-family: Sans-Serif;
  padding: 3px;
  width: calc(100% / 15);
  min-width: 55px
}

@media(max-width:768px) {
  .cotas-item {
    width: calc(100% / 9)
  }
}

@media(max-width:425px) {
  .cotas-item {
    width: calc(100% / 6)
  }
}

@media(max-width:375px) {
  .cotas-item {
    width: calc(100% / 5)
  }
}

.cotas-item .cotas-item--content {
  border-radius: 4px;
  background-color: #585858;
  font-size: 10pt;
  text-align: center;
  line-height: 35px;
  height: 35px;
  color: #fff;
  vertical-align: middle;
  position: relative
}

.cotas-item.excluir .cotas-item--content:before {
  content: 'x';
  font-weight: bold;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: #f90000;
  color: white
}

.cotas-item.status3 {
  cursor: pointer
}

.cotas-item.status3 .cotas-item--content {
  background-color: #585858
}

.cotas-item.status3.selected .cotas-item--content {
  background-color: #343a40
}

.cotas-item.status1 .cotas-item--content {
  background-color: #28a745
}

.cotas-item.status0 .cotas-item--content {
  background-color: #17a2b8
}

.cotas-item .cotas-item--tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  font-size: 12px;
  padding: 5px 8px;
  font-weight: normal;
  border-radius: 3px;
  line-height: 15px;
  margin-bottom: 5px;
  color: white;
  pointer-events: none;
  white-space: nowrap;
  z-index: 999
}

.cotas-item:hover .cotas-item--tooltip {
  display: block
}
